name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: Kamoliddin7777
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push snake file to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          keep_history: false
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

